
:root {
    --color-neutral-10: #ffffff; /* FFFFFF */
    --color-neutral-20: #f5f5f5; /* F5F5F5 */
    --color-neutral-30: #ededed; /* EDEDED */
    --color-neutral-40: #e0e0e0; /* E0E0E0 */
    --color-neutral-50: #fafafa; 
    --color-neutral-60: #9e9e9e; /* 9E9E9E */
    --color-neutral-70: #757575; /* 757575 */
    --color-neutral-80: #616161; /* 616161 */
    --color-neutral-90: #404040; 
    --color-neutral-100: #f5f5f5; 
    --color-primary-main: #a3cf62; 
    --color-primary-surface: #edf5e0; 
    --color-primary-border: #cce7a4; 
    --color-primary-hover: #6b8f36; /* 6B8F36 */
    --color-primary-focus: #a3cf624d; /* A3CF62 */
    --color-secondary-main: #903f98; /* 903F98 */
    --color-secondary-surface: #fef0ff; /* FEF0FF */
    --color-secondary-boder: #f3cbf7; 
    --color-secondary-hover: #66296b; 
    --color-success-main: #43936c; 
    --color-success-surface: #f7f7f7; 
    --color-success-border: #b8dbca; 
    --color-success-hover: #367a59; 
    --color-warning-main: #cd7b2e; 
    --color-warning-surface: #fff9f2; 
    --color-warning-border: #eeceb0; 
    --color-danger-main: #cb3a31; 
    --color-danger-surface: #fff4f2; 
    --color-danger-border: #eeb4b0; 
    --color-danger-hover: #bd251c; 
    --color-info-main: #3267e3; 
    --color-info-surface: #f0f3ff; 
    --color-info-border: #b1c5f6; 
    --color-info-hover: #114cd6; 
    --color-info-pressed: #11317d; 
    --color-accent-yellow-300: #fcc907; 
    --color-primary-pressed: #6b8f36; /* 6B8F36 */
    --color-secondary-pressed: #501856; /* 501856 */
    --color-secondary-focused: #903f984d; 
    --color-success-pressed: #20573d; 
    --color-warning-hover: #bf6919; 
    --color-warning-pressed: #734011; 
    --color-danger-pressed: #731912; 
    --color-accent-yellow-50: #fffae6; 
    --color-accent-yellow-100: #fff7da; 
    --color-accent-yellow-200: #feeeb2; 
    --color-accent-yellow-400: #e3b506; 
    --color-accent-yellow-500: #caa106; 
    --color-accent-yellow-600: #bd9705; 
    --color-accent-yellow-700: #977904; 
    --color-accent-yellow-800: #715a03; 
    --color-accent-yellow-900: #584602; 
    --color-accent-orange-50: #feeee9; 
    --color-accent-orange-100: #fde6de; 
    --color-accent-orange-200: #fbcbba; 
    --color-accent-orange-300: #f15622; 
    --color-accent-orange-400: #d94d1f; 
    --color-accent-orange-500: #c1451b; 
    --color-accent-orange-600: #b5411a; 
    --color-accent-orange-700: #913414; 
    --color-accent-orange-800: #6c270f; 
    --color-accent-orange-900: #541e0c; 
    --color-accent-violet-50: #f2ebfd; 
    --color-accent-violet-100: #e0d0fb; 
    --color-accent-violet-200: #c7aaf7; 
    --color-accent-violet-300: #ac83f4; 
    --color-accent-violet-400: #945df0; 
    --color-accent-violet-500: #7c3aed; 
    --color-accent-violet-600: #6931c9; 
    --color-accent-violet-700: #5829a8; 
    --color-accent-violet-800: #472187; 
    --color-accent-violet-900: #381a6b; 
    --color-accent-cyan-50: #edfdff; 
    --color-accent-cyan-100: #def8fc; 
    --color-accent-cyan-200: #baf1fa; 
    --color-accent-cyan-300: #22d3ee; 
    --color-accent-cyan-400: #1fbed6; 
    --color-accent-cyan-500: #1ba9be; 
    --color-accent-cyan-600: #1a9eb3; 
    --color-accent-cyan-700: #147f8f; 
    --color-accent-cyan-800: #0f5f6b; 
    --color-accent-cyan-900: #0c4a53; 
    --color-light-gray-50: #ffffff; 
    --color-light-gray-100: #f6f7f8; 
    --color-light-gray-200: #e1e3e6; 
    --color-light-gray-400: #aaadb1; 
    --color-light-gray-500: #909090; 
    --color-light-gray-600: #66696d; 
    --color-light-gray-700: #414346; 
    --color-light-gray-800: #1f2122; 
    --color-light-gray-900: #000000; 
    --color-light-blue-100: #e0f2ff; 
    --color-light-blue-700: #3892f3; 
    --color-light-blue-900: #0265dc; 
    --color-light-blue-1000: #0054b6; 
    --color-light-blue-1100: #004491; 
    --color-light-green-100: #cef8e0; 
    --color-light-green-700: #15a46e; 
    --color-light-red-100: #ffebe7; 
    --color-light-green-900: #007a4d; 
    --color-light-orange-100: #ffeccc; 
    --color-light-red-700: #f75c46; 
    --color-light-orange-700: #e46f00; 
    --color-light-red-900: #d31510; 
    --color-light-green-1000: #00653e; 
    --color-light-orange-900: #b14c00; 
    --color-light-orange-1000: #953d00; 
    --color-light-red-1000: #b40000; 
    --color-light-green-1100: #005132; 
    --color-light-red-1100: #930000; 
    --color-light-orange-1100: #7a2f00; 
    --color-light-purple-100: #edeeff; 
    --color-light-purple-700: #7e84fc; 
    --color-light-purple-900: #5258e4; 
    --color-light-purple-1000: #4046ca; 
    --color-light-purple-1100: #3236a8; 
    --color-light-neutral-10: #00357100; 
    --color-light-neutral-100: #0035710f; 
    --color-light-neutral-200: #0035711f; 
    --color-dark-gray-50: #1d1d1d; 
    --color-dark-gray-75: #262626; 
    --color-dark-gray-100: #323232; 
    --color-dark-gray-200: #3f3f3f; 
    --color-dark-gray-400: #707070; 
    --color-dark-gray-600: #b2b2b2; 
    --color-dark-gray-700: #d1d1d1; 
    --color-dark-gray-800: #ebebeb; 
    --color-dark-gray-900: #ffffff; 
    --color-dark-blue-100: #003877; 
    --color-dark-blue-700: #348ff4; 
    --color-dark-blue-900: #72b7f9; 
    --color-dark-blue-1000: #8fcafc; 
    --color-dark-blue-1100: #aedbfe; 
    --color-dark-green-100: #044329; 
    --color-dark-red-100: #7b0000; 
    --color-dark-green-700: #12a26c; 
    --color-dark-orange-100: #662500; 
    --color-dark-red-700: #f65843; 
    --color-dark-green-900: #43c78f; 
    --color-dark-green-1000: #5ed9a2; 
    --color-dark-orange-700: #e16d00; 
    --color-dark-red-900: #ff9581; 
    --color-dark-orange-900: #fe9a2e; 
    --color-dark-red-1000: #ffb0a1; 
    --color-dark-orange-1000: #ffb558; 
    --color-dark-green-1100: #81e9b8; 
    --color-dark-red-1100: #ffc9bd; 
    --color-dark-orange-1100: #fdce88; 
    --color-dark-purple-100: #282c8c; 
    --color-dark-purple-700: #7c81fb; 
    --color-dark-purple-900: #a7aaff; 
    --color-dark-purple-1000: #bcbeff; 
    --color-dark-purple-1100: #d0d2ff; 
    --color-dark-neutral-10: #ffffff00; 
    --color-dark-neutral-100: #ffffff0f; 
    --color-dark-neutral-200: #ffffff1f; 
    --color-primary-50: #f6faef; 
    --color-primary-300: #c5e19c; 
    --color-primary-400: #b4d87e; 
    --color-primary-500-main_: #a3cf62; 
    --color-secondary-50: #f4ecf5; 
    --color-secondary-400: #a462ab; 
    --color-secondary-500: #903f98; 
    --color-warning-50: #fffbeb; 
    --color-warning-400: #fbbf24; 
    --color-warning-500-main_: #f59e0b; 
    --color-info-50: #eef2ff; 
    --color-info-400: #818cf8; 
    --color-info-500-main_: #6366f1; 
    --color-neutral-200: #e5e5e5; 
    --color-neutral-300: #d4d4d4; 
    --color-neutral-400: #a3a3a3; 
    --color-neutral-500: #737373; 
    --color-neutral-900: #171717; 
    --color-danger-50: #fef2f2; 
    --color-danger-400: #f87171; 
    --color-danger-600: #dc2626; 
    --color-danger-500-main_: #ef4444; 
    --color-success-50: #f0fdf4; 
    --color-success-400: #4ade80; 
    --color-success-600: #16a34a; 
    --color-success-700: #15803d; 
    --color-success-500-main_: #22c55e; 
    --color-generic-white: #ffffff; 
    --color-generic-black: #000000; 
    --color-neutral-600: #525252; 
    --color-neutral-700: #404040; 
    --color-neutral-800: #262626; 
    --color-primary-100: #e9f3d9; 
    --color-primary-200: #d7eabb; 
    --color-primary-600: #8bb053; 
    --color-primary-700: #749346; 
    --color-primary-800: #5d7638; 
    --color-primary-900: #495d2c; 
    --color-secondary-100: #e4d1e6; 
    --color-secondary-200: #cfacd3; 
    --color-secondary-300: #b986be; 
    --color-secondary-600: #7a3681; 
    --color-secondary-700: #662d6c; 
    --color-secondary-800: #522457; 
    --color-secondary-900: #411c44; 
    --color-info-100: #e0e7ff; 
    --color-info-200: #c7d2fe; 
    --color-info-300: #a5b4fc; 
    --color-info-600: #4f46e5; 
    --color-info-700: #4338ca; 
    --color-info-800: #3730a3; 
    --color-info-900: #312e81; 
    --color-success-100: #dcfce7; 
    --color-success-200: #bbf7d0; 
    --color-success-300: #86efac; 
    --color-success-800: #166534; 
    --color-success-900: #14532d; 
    --color-warning-100: #fef3c7; 
    --color-warning-200: #fde68a; 
    --color-warning-300: #fcd34d; 
    --color-warning-600: #d97706; 
    --color-warning-700: #b45309; 
    --color-warning-800: #92400e; 
    --color-warning-900: #78350f; 
    --color-danger-100: #fee2e2; 
    --color-danger-200: #fecaca; 
    --color-danger-300: #fca5a5; 
    --color-danger-700: #b91c1c; 
    --color-danger-800: #991b1b; 
    --color-danger-900: #7f1d1d; 
}