
:root {
    --measure-line-height-line-height-lineheights-0: 56px;     
    --measure-line-height-line-height-lineheights-1: 48px;     
    --measure-line-height-line-height-lineheights-2: 44px;     
    --measure-line-height-line-height-lineheights-3: 40px;     
    --measure-line-height-line-height-lineheights-4: 36px;     
    --measure-line-height-line-height-lineheights-5: 32px;     
    --measure-line-height-line-height-lineheights-6: 28px;     
    --measure-line-height-line-height-lineheights-7: 24px;     
    --measure-line-height-line-height-lineheights-8: 30px;     
    --measure-line-height-line-height-lineheights-9: 20px;     
    --measure-line-height-line-height-lineheights-10: 18px;     
    --measure-line-height-line-height-lineheights-11: 16px;     
    --measure-line-height-line-height-lineheights-12: 17px;     
    --measure-font-size-font-size-fontsize-0: 10px;     
    --measure-font-size-font-size-fontsize-1: 12px;     
    --measure-font-size-font-size-fontsize-2: 14px;     
    --measure-font-size-font-size-fontsize-3: 16px;     
    --measure-font-size-font-size-fontsize-4: 18px;     
    --measure-font-size-font-size-fontsize-5: 20px;     
    --measure-font-size-font-size-fontsize-6: 24px;     
    --measure-font-size-font-size-fontsize-7: 28px;     
    --measure-font-size-font-size-fontsize-8: 32px;     
    --measure-font-size-font-size-fontsize-9: 36px;     
    --measure-font-size-font-size-fontsize-10: 40px;     
    --measure-font-size-font-size-fontsize-11: 44px;     
    --measure-letter-spacing-letter-spacing-letterspacing-0: -2%;     
    --measure-paragraph-spacing-paragraph-spacing-paragraphspacing-0: 0px;     
    --measure-dimension-dimension-paragraphindent-0: 0px;     
    --measure-space-spacing-4: 4px;     
    --measure-space-spacing-8: 8px;     
    --measure-space-spacing-16: 16px;     
    --measure-space-spacing-24: 24px;     
    --measure-space-spacing-32: 32px;     
    --measure-font-size-font-size-fontsize-12: 52px;     
    --measure-letter-spacing-letter-spacing-letterspacing-1: 0%;     
    --measure-letter-spacing-letter-spacing-letterspacing-2: 1px;     
    --measure-paragraph-spacing-paragraph-spacing-paragraphspacing-1: 60px;     
}