
:root {
    --shadow-shadows-topbar: 0 -2px 4px -2px rgba(16,24,40,0.1), 0 -4px 6px -1px rgba(16,24,40,0.1);   

    --shadow-shadows-card: 0 1px 8px 0 rgba(16,24,40,0.1);   

    --shadow-shadows-navbar: 0 2px 4px -2px rgba(16,24,40,0.1), 0 4px 6px -1px rgba(16,24,40,0.1);   

    --shadow-shadows-button: 0 4px 6px -4px rgba(16,24,40,0.1), 0 10px 15px -3px rgba(16,24,40,0.1);   

}