
:root {
    --measureLineHeightLineHeightLineheights0: 87px;    
    --measureLineHeightLineHeightLineheights1: 69px;    
    --measureLineHeightLineHeightLineheights2: 54px;    
    --measureLineHeightLineHeightLineheights3: 48px;    
    --measureLineHeightLineHeightLineheights4: 42px;    
    --measureLineHeightLineHeightLineheights5: 38px;    
    --measureLineHeightLineHeightLineheights6: 33px;    
    --measureLineHeightLineHeightLineheights7: 27px;    
    --measureLineHeightLineHeightLineheights8: 20px;    
    --measureLineHeightLineHeightLineheights9: 24px;    
    --measureLineHeightLineHeightLineheights10: 21px;    
    --measureLineHeightLineHeightLineheights11: 18px;    
    --measureLineHeightLineHeightLineheights12: 17px;    
    --measureFontSizeFontSizeFontsize0: 11px;    
    --measureFontSizeFontSizeFontsize1: 12px;    
    --measureFontSizeFontSizeFontsize2: 14px;    
    --measureFontSizeFontSizeFontsize3: 16px;    
    --measureFontSizeFontSizeFontsize4: 18px;    
    --measureFontSizeFontSizeFontsize5: 22px;    
    --measureFontSizeFontSizeFontsize6: 25px;    
    --measureFontSizeFontSizeFontsize7: 28px;    
    --measureFontSizeFontSizeFontsize8: 32px;    
    --measureFontSizeFontSizeFontsize9: 36px;    
    --measureFontSizeFontSizeFontsize10: 46px;    
    --measureFontSizeFontSizeFontsize11: 58px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: 0%;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
    --measureSpaceSpacing4: 4px;    
    --measureSpaceSpacing8: 8px;    
    --measureSpaceSpacing16: 16px;    
    --measureSpaceSpacing24: 24px;    
    --measureSpaceSpacing32: 32px;    
}