
:root {
    --measure-line-height-line-height-lineheights-0: 87px;     
    --measure-line-height-line-height-lineheights-1: 69px;     
    --measure-line-height-line-height-lineheights-2: 54px;     
    --measure-line-height-line-height-lineheights-3: 48px;     
    --measure-line-height-line-height-lineheights-4: 42px;     
    --measure-line-height-line-height-lineheights-5: 38px;     
    --measure-line-height-line-height-lineheights-6: 33px;     
    --measure-line-height-line-height-lineheights-7: 27px;     
    --measure-line-height-line-height-lineheights-8: 20px;     
    --measure-line-height-line-height-lineheights-9: 24px;     
    --measure-line-height-line-height-lineheights-10: 21px;     
    --measure-line-height-line-height-lineheights-11: 18px;     
    --measure-line-height-line-height-lineheights-12: 17px;     
    --measure-font-size-font-size-fontsize-0: 11px;     
    --measure-font-size-font-size-fontsize-1: 12px;     
    --measure-font-size-font-size-fontsize-2: 14px;     
    --measure-font-size-font-size-fontsize-3: 16px;     
    --measure-font-size-font-size-fontsize-4: 18px;     
    --measure-font-size-font-size-fontsize-5: 22px;     
    --measure-font-size-font-size-fontsize-6: 25px;     
    --measure-font-size-font-size-fontsize-7: 28px;     
    --measure-font-size-font-size-fontsize-8: 32px;     
    --measure-font-size-font-size-fontsize-9: 36px;     
    --measure-font-size-font-size-fontsize-10: 46px;     
    --measure-font-size-font-size-fontsize-11: 58px;     
    --measure-letter-spacing-letter-spacing-letterspacing-0: 0%;     
    --measure-paragraph-spacing-paragraph-spacing-paragraphspacing-0: 0px;     
    --measure-dimension-dimension-paragraphindent-0: 0px;     
    --measure-space-spacing-4: 4px;     
    --measure-space-spacing-8: 8px;     
    --measure-space-spacing-16: 16px;     
    --measure-space-spacing-24: 24px;     
    --measure-space-spacing-32: 32px;     
}